<%- include('./layouts/boilerplates') %> 


<p> <%= mov.genre %></p>
<% if(mov.imageurl){ %> 
  <div class="col  ">
<div class=" col-4 card m-3" style="width: 18rem;">
  <img class="card-img-top" src="<%= mov.imageurl[0] %> " alt="Card image cap">
  </div></div>
  <% }%>
<p> <%= mov.imdbrating %></p>
<p> <%= mov.released %></p>
<p> <%= mov.runtime %></p>
<p> <%= mov.synopsis %></p>


<a class="button" href="/<%=mov.imdbid%>/bookings"> Book SEATS</a>

<a class="button" href="/">Back</a>